#maincontent {
    float: left;
    width: 80%;
    height: 60%;
    background-color: gray;
}
#menurightcontent{
    float: right;
    width: 20%;
    height: 60%;
    background-color: #F0F0F0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.iiitb-logo{
  max-width: 100%;
  height: auto;
  width: 150px;
}
.main-title{
	position: fixed;
	width: 100%;
	text-align: center;
	top: 20%;
	font-size: 300%;
}
.login-button{
	position: fixed;
	text-align: center;
	top: 50%;
	width: 100%;

}
.google-button {
  height: 40px;
  cursor: pointer;
  border-width: 0;
  background: #ededed;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  
  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  
  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}   
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.google-button__icon--plus {
  width: 27px;
}
.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}
.google-button:hover{
     background-color: #eaeaea;
     box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.2);
}